<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roles List</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <h1>Roles List</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Role</th>
      <th>Description</th>
      <th>Creation date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role : ${roles}">
      <td th:text="${role.id}"></td>
      <td th:text="${role.role}"></td>
      <td th:text="${role.description}"></td>
      <td th:text="${role.createdAt}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>